  <!-- This Contains the Search and Filter Tags -->
  <!-- The Search Section -->
  <div class="options-container">
    <div>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search within Table" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
    <!-- The Othe Tags Section -->
    <div class="options-buttons">
      <button type="button" class="btn btn-outline-dark">Filter</button>
      <button type="button" class="btn btn-outline-warning">Edit</button>
      <button type="button" class="btn btn-outline-danger">Delete</button>
    </div>

    <!-- Add New Customer Section -->
    <div>
      <button type="button" class="btn btn-success">Add New Customer</button>
    </div>

  </div>

  <!-- This Contains the Table -->
<div class="table-container">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Select</th>
        <th scope="col">#Customer ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Active Loans</th>
        <th scope="col">Product Type</th>
        <th scope="col">Bank Details</th>
        <th scope="col">Address</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          <div>
            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
          </div>
        </th>
        <td>23213</td>
        <td>Mark</td>
        <td>@mdo</td>
        <td>131231313</td>
        <td>1</td>
        <td>Growth Loan</td>
        <td>Bank of XX</td>
        <td>AbbsdbAggjdS</td>
      </tr>
      <tr>
        <th scope="row">
          <div>
            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
          </div>
        </th>
        <td>23213</td>
        <td>Jacob</td>
        <td>@fat</td>
        <td>131231313</td>
        <td>1</td>
        <td>Growth Loan</td>
        <td>Bank of XX</td>
        <td>AbbsdbAggjdS</td>
      </tr>
      <tr>
        <th scope="row">
          <div>
            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
          </div>
        </th>
        <td>23213</td>
        <td>Larry the Bird</td>
        <td>@twitter</td>
        <td>131231313</td>
        <td>1</td>
        <td>Growth Loan</td>
        <td>Bank of XX</td>
        <td>AbbsdbAggjdS</td>
      </tr>
      <tr>
        <th scope="row">
          <div>
            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
          </div>
        </th>
        <td>23213</td>
        <td>Larry the Bird</td>
        <td>@twitter</td>
        <td>131231313</td>
        <td>1</td>
        <td>Growth Loan</td>
        <td>Bank of XX</td>
        <td>AbbsdbAggjdS</td>
      </tr>
      <tr>
        <th scope="row">
          <div>
            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
          </div>
        </th>
        <td>23213</td>
        <td>Larry</td>
        <td>@twitter</td>
        <td>131231313</td>
        <td>1</td>
        <td>Growth Loan</td>
        <td>Bank of XX</td>
        <td>AbbsdbAggjdS</td>
      </tr>
      <tr>
        <th scope="row">
          <div>
            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
          </div>
        </th>
        <td>23213</td>
        <td>Larry</td>
        <td>@twitter</td>
        <td>131231313</td>
        <td>1</td>
        <td>Growth Loan</td>
        <td>Bank of XX</td>
        <td>AbbsdbAggjdS</td>
      </tr>
      <tr>
        <th scope="row">
          <div>
            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
          </div>
        </th>
        <td>23213</td>
        <td>Larry</td>
        <td>@twitter</td>
        <td>131231313</td>
        <td>1</td>
        <td>Growth Loan</td>
        <td>Bank of XX</td>
        <td>AbbsdbAggjdS</td>
      </tr>
      <tr>
        <th scope="row">
          <div>
            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
          </div>
        </th>
        <td>23213</td>
        <td>Larry</td>
        <td>@twitter</td>
        <td>131231313</td>
        <td>1</td>
        <td>Growth Loan</td>
        <td>Bank of XX</td>
        <td>AbbsdbAggjdS</td>
      </tr>

      <!-- Pagination Section -->
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

      <tr>
        <th scope="row">
          <div>
            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
          </div>
        </th>
        <td>23213</td>
        <td>Larry</td>
        <td>@twitter</td>
        <td>131231313</td>
        <td>1</td>
        <td>Growth Loan</td>
        <td>Bank of XX</td>
        <td>AbbsdbAggjdS</td>
      </tr>
      <tr>
        <th scope="row">
          <div>
            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
          </div>
        </th>
        <td>23213</td>
        <td>Larry</td>
        <td>@twitter</td>
        <td>131231313</td>
        <td>1</td>
        <td>Growth Loan</td>
        <td>Bank of XX</td>
        <td>AbbsdbAggjdS</td>
      </tr>
      <tr>
        <th scope="row">
          <div>
            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
          </div>
        </th>
        <td>23213</td>
        <td>Larry</td>
        <td>@twitter</td>
        <td>131231313</td>
        <td>1</td>
        <td>Growth Loan</td>
        <td>Bank of XX</td>
        <td>AbbsdbAggjdS</td>
      </tr>
      <tr>
        <th scope="row">
          <div>
            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
          </div>
        </th>
        <td>23213</td>
        <td>Larry</td>
        <td>@twitter</td>
        <td>131231313</td>
        <td>1</td>
        <td>Growth Loan</td>
        <td>Bank of XX</td>
        <td>AbbsdbAggjdS</td>
      </tr>
      <tr>
        <th scope="row">
          <div>
            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
          </div>
        </th>
        <td>23213</td>
        <td>Larry</td>
        <td>@twitter</td>
        <td>131231313</td>
        <td>1</td>
        <td>Growth Loan</td>
        <td>Bank of XX</td>
        <td>AbbsdbAggjdS</td>
      </tr>
      <tr>
        <th scope="row">
          <div>
            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
          </div>
        </th>
        <td>23213</td>
        <td>Larry</td>
        <td>@twitter</td>
        <td>131231313</td>
        <td>1</td>
        <td>Growth Loan</td>
        <td>Bank of XX</td>
        <td>AbbsdbAggjdS</td>
      </tr>
      <tr>
        <th scope="row">
          <div>
            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
          </div>
        </th>
        <td>23213</td>
        <td>Larry</td>
        <td>@twitter</td>
        <td>131231313</td>
        <td>1</td>
        <td>Growth Loan</td>
        <td>Bank of XX</td>
        <td>AbbsdbAggjdS</td>
      </tr>
      <tr>
        <th scope="row">
          <div>
            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
          </div>
        </th>
        <td>23213</td>
        <td>Larry</td>
        <td>@twitter</td>
        <td>131231313</td>
        <td>1</td>
        <td>Growth Loan</td>
        <td>Bank of XX</td>
        <td>AbbsdbAggjdS</td>
      </tr>
      <tr>
        <th scope="row">
          <div>
            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
          </div>
        </th>
        <td>23213</td>
        <td>Larry</td>
        <td>@twitter</td>
        <td>131231313</td>
        <td>1</td>
        <td>Growth Loan</td>
        <td>Bank of XX</td>
        <td>AbbsdbAggjdS</td>
      </tr>
      <tr>
        <th scope="row">
          <div>
            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
          </div>
        </th>
        <td>23213</td>
        <td>Larry</td>
        <td>@twitter</td>
        <td>131231313</td>
        <td>1</td>
        <td>Growth Loan</td>
        <td>Bank of XX</td>
        <td>AbbsdbAggjdS</td>
      </tr>
      <tr>
        <th scope="row">
          <div>
            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
          </div>
        </th>
        <td>23213</td>
        <td>Larry</td>
        <td>@twitter</td>
        <td>131231313</td>
        <td>1</td>
        <td>Growth Loan</td>
        <td>Bank of XX</td>
        <td>AbbsdbAggjdS</td>
      </tr>
      <tr>
        <th scope="row">
          <div>
            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
          </div>
        </th>
        <td>23213</td>
        <td>Larry</td>
        <td>@twitter</td>
        <td>131231313</td>
        <td>1</td>
        <td>Growth Loan</td>
        <td>Bank of XX</td>
        <td>AbbsdbAggjdS</td>
      </tr>
      <tr>
        <th scope="row">
          <div>
            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
          </div>
        </th>
        <td>23213</td>
        <td>Larry</td>
        <td>@twitter</td>
        <td>131231313</td>
        <td>1</td>
        <td>Growth Loan</td>
        <td>Bank of XX</td>
        <td>AbbsdbAggjdS</td>
      </tr>
      <tr>
        <th scope="row">
          <div>
            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
          </div>
        </th>
        <td>23213</td>
        <td>Larry</td>
        <td>@twitter</td>
        <td>131231313</td>
        <td>1</td>
        <td>Growth Loan</td>
        <td>Bank of XX</td>
        <td>AbbsdbAggjdS</td>
      </tr>
    </tbody>
  </table>
</div>
