<div class="container__sidebar">

  <div class="toggle__sidebar">
    <a>
      <img
      src="https://www.svgrepo.com/show/244083/menu.svg" width="30" height="30"
      alt="">
    </a>
  </div>

  <div class="container">

    <!-- The Sidebar Section -->
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse show">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <div class="dashboard">
            <li class="nav-item">
              <a
              class="nav-link" aria-current="page"
              routerLinkActive="active" routerLink="/dashboard">
                <img
                src="https://www.svgrepo.com/show/448021/home.svg" width="30" height="30"
                alt="dashboardImage" />
              Dashboard
              </a>
            </li>
          </div>
          <li class="nav-item">
            <a routerLinkActive="active" routerLink="/loans"
            class="nav-link"
            aria-current="page">
              <img
              src="https://www.svgrepo.com/show/447714/money-refund-rupee.svg" width="30" height="30"
              alt="loanImage" />
            Loans
            </a>
          </li>
          <li class="nav-item">
            <a
            class="nav-link"
            routerLinkActive="active" routerLink="/customer">
              <img
              src="https://www.svgrepo.com/show/447048/users.svg" width="30" height="30"
              alt="customerImage" />
            Customers
            </a>
          </li>
          <li class="nav-item">
            <a
            class="nav-link"
            routerLinkActive="active" routerLink="/payments">
              <img
              src="https://www.svgrepo.com/show/100788/credit-cards.svg" width="30" height="30"
              alt="paymentsImage" />
            Payments
            </a>
          </li>
          <li class="nav-item">
            <a
            class="nav-link"
            routerLinkActive="active" routerLink="/invoices">
              <img
              src="https://www.svgrepo.com/show/447676/invoice-rupee.svg" width="30" height="30"
              alt="invoicesImage" />
            Invoices
            </a>
          </li>
          <!-- Contains Loan Plans and Reports -->
          <div class="sidebar__middle">
            <li class="nav-item">
              <a
              class="nav-link"
              routerLinkActive="active" routerLink="/loan-types">
                <img
              src="https://www.svgrepo.com/show/283496/plans-house.svg" width="30" height="30"
              alt="loanImage" />
              Loan Plans
              </a>
            </li>
            <li class="nav-item">
              <a
              class="nav-link"
              routerLinkActive="active" routerLink="/reports">
                <img
              src="https://www.svgrepo.com/show/390451/analytics-business-chart-finance-graph-money.svg" width="30" height="30"
              alt="loanImage" />
              Reports
              </a>
            </li>
          </div>
          <!-- Contains SETTINGS -->
          <div>
            <li class="nav-item">
              <a
              class="nav-link"
              routerLinkActive="active" routerLink="/settings">
                <img
              src="https://www.svgrepo.com/show/447787/settings.svg" width="30" height="30"
              alt="loanImage" />
              Settings
              </a>
            </li>
          </div>
        </ul>
         <!-- The User Display Section -->
         <div class="nav-item">
          <div class="nav-item">Logged in as:</div>
          UserName
        </div>
      </div>
    </nav>
  </div>

</div>
