<div class="container px-1 py-1" id="featured-6">
  <!-- This Contains the Title  -->
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="card card-cover h-100 overflow-hidden text-dark rounded-5 shadow-md">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <img
        src="https://www.svgrepo.com/show/447714/money-refund-rupee.svg" width="40" height="40"
        alt="loanImage">
      </div>
      <div>
        <h3>1767</h3>
        <p>Active Loans</p>
      </div>
    </div>
    <div class="card card-cover h-100 overflow-hidden text-dark rounded-5 shadow-lg">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <img
        src="https://www.svgrepo.com/show/447048/users.svg" width="40" height="40"
        alt="customersImage">
      </div>
      <div>
        <h3>1879</h3>
        <p>Customers</p>
      </div>
    </div>
    <div class="card card-cover h-100 overflow-hidden text-dark rounded-5 shadow-lg">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <img src="https://www.svgrepo.com/show/457310/home.svg" width="40" height="40"
        alt="homeLoan">
      </div>
      <div>
        <h3>237</h3>
        <p>Home Loans</p>
      </div>
    </div>
    <div class="card card-cover h-100 overflow-hidden text-dark rounded-5 shadow-lg">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <img
        src="https://www.svgrepo.com/show/447711/money-bag-rupee.svg" width="40" height="40"
        alt="personalLoan">
      </div>
      <div>
        <h3>437</h3>
        <p>Personal Loans</p>
      </div>
    </div>
    <div class="card card-cover h-100 overflow-hidden text-dark rounded-5 shadow-lg">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <img src="https://www.svgrepo.com/show/454141/education-learning-9.svg" width="40" height="40"
        alt="educationalLoan">
      </div>
      <div>
        <h3>137</h3>
        <p>Educational Loans</p>
      </div>
    </div>
    <div class="card card-cover h-100 overflow-hidden text-dark rounded-5 shadow-lg">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <img src="https://www.svgrepo.com/show/448105/property-insurance-premium.svg" width="40" height="40"
        alt="lapImage">
      </div>
      <div>
        <h3>125</h3>
        <p>Loan Against Property</p>
      </div>
    </div>
    <div class="card card-cover h-100 overflow-hidden text-dark rounded-5 shadow-lg">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <img src="https://www.svgrepo.com/show/339088/commercial-financing-02.svg" width="40" height="40"
        alt="commercialLoan">
      </div>
      <div>
        <h3>353</h3>
        <p>Commercial Loans</p>
      </div>
    </div>
    <div  class="card card-cover h-100 overflow-hidden text-dark rounded-5 shadow-lg">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <img src="https://www.svgrepo.com/show/340385/growth.svg" width="40" height="40"
        alt="growthLoan">
      </div>
      <div>
        <h3>251</h3>
        <p>Growth Loans</p>
      </div>
    </div>
    <div class="card card-cover h-100 overflow-hidden text-dark rounded-5 shadow-lg">
      <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        <img src="https://www.svgrepo.com/show/429322/approve-essential-web.svg" width="40" height="40"
        alt="policies">
      </div>
      <div>
        <h3>437</h3>
        <p>Policy</p>
      </div>
    </div>
  </div>
</div>
